@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ipzsbz');
  src:  url('fonts/icomoon.eot?ipzsbz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ipzsbz') format('truetype'),
    url('fonts/icomoon.woff?ipzsbz') format('woff'),
    url('fonts/icomoon.svg?ipzsbz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-emails:before {
  content: "\e979";
}
.icon-airCondition:before {
  content: "\e900";
}
.icon-appraise:before {
  content: "\e901";
}
.icon-bag:before {
  content: "\e902";
}
.icon-bank:before {
  content: "\e903";
}
.icon-barbecue:before {
  content: "\e904";
}
.icon-bath:before {
  content: "\e905";
}
.icon-bed:before {
  content: "\e906";
}
.icon-blackboard:before {
  content: "\e907";
}
.icon-bomb:before {
  content: "\e908";
}
.icon-book:before {
  content: "\e909";
}
.icon-bookCity:before {
  content: "\e90a";
}
.icon-box:before {
  content: "\e90b";
}
.icon-bridge:before {
  content: "\e90c";
}
.icon-business:before {
  content: "\e90d";
}
.icon-cabinet:before {
  content: "\e90e";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-car:before {
  content: "\e910";
}
.icon-cat:before {
  content: "\e911";
}
.icon-check:before {
  content: "\e912";
}
.icon-chicken:before {
  content: "\e913";
}
.icon-Cljl:before {
  content: "\e914";
}
.icon-Clmj:before {
  content: "\e915";
}
.icon-clock:before {
  content: "\e916";
}
.icon-cloud:before {
  content: "\e917";
}
.icon-cola:before {
  content: "\e918";
}
.icon-collect:before {
  content: "\e919";
}
.icon-computer:before {
  content: "\e91a";
}
.icon-cow:before {
  content: "\e91b";
}
.icon-credit:before {
  content: "\e91c";
}
.icon-curve:before {
  content: "\e91d";
}
.icon-daily:before {
  content: "\e91e";
}
.icon-data:before {
  content: "\e91f";
}
.icon-Del:before {
  content: "\e920";
}
.icon-deletePage:before {
  content: "\e921";
}
.icon-dl:before {
  content: "\e922";
}
.icon-dog:before {
  content: "\e923";
}
.icon-drawer:before {
  content: "\e924";
}
.icon-drink:before {
  content: "\e925";
}
.icon-drumstick:before {
  content: "\e926";
}
.icon-dryer:before {
  content: "\e927";
}
.icon-Dw:before {
  content: "\e928";
}
.icon-dynamic:before {
  content: "\e929";
}
.icon-email:before {
  content: "\e92a";
}
.icon-file:before {
  content: "\e92b";
}
.icon-film:before {
  content: "\e92c";
}
.icon-football:before {
  content: "\e92d";
}
.icon-free:before {
  content: "\e92e";
}
.icon-hamburg:before {
  content: "\e92f";
}
.icon-hangers:before {
  content: "\e930";
}
.icon-hardDisk:before {
  content: "\e931";
}
.icon-hat:before {
  content: "\e932";
}
.icon-honeycomb:before {
  content: "\e933";
}
.icon-information:before {
  content: "\e934";
}
.icon-keyboard:before {
  content: "\e935";
}
.icon-label:before {
  content: "\e936";
}
.icon-labor:before {
  content: "\e937";
}
.icon-like:before {
  content: "\e938";
}
.icon-listenBook:before {
  content: "\e939";
}
.icon-machine:before {
  content: "\e93a";
}
.icon-magnify:before {
  content: "\e93b";
}
.icon-mail:before {
  content: "\e93c";
}
.icon-mails:before {
  content: "\e93d";
}
.icon-me:before {
  content: "\e93e";
}
.icon-medal:before {
  content: "\e93f";
}
.icon-microphone:before {
  content: "\e940";
}
.icon-mine:before {
  content: "\e941";
}
.icon-mobile:before {
  content: "\e942";
}
.icon-mobileWallet:before {
  content: "\e943";
}
.icon-monitor:before {
  content: "\e944";
}
.icon-mouse:before {
  content: "\e945";
}
.icon-music:before {
  content: "\e946";
}
.icon-new:before {
  content: "\e947";
}
.icon-news:before {
  content: "\e948";
}
.icon-notebook:before {
  content: "\e949";
}
.icon-other:before {
  content: "\e94a";
}
.icon-passage:before {
  content: "\e94b";
}
.icon-petals:before {
  content: "\e94c";
}
.icon-photo:before {
  content: "\e94d";
}
.icon-photographic:before {
  content: "\e94e";
}
.icon-pool:before {
  content: "\e94f";
}
.icon-popsicle:before {
  content: "\e950";
}
.icon-present:before {
  content: "\e951";
}
.icon-printer:before {
  content: "\e952";
}
.icon-projector:before {
  content: "\e953";
}
.icon-pwd:before {
  content: "\e954";
}
.icon-Qjyx:before {
  content: "\e955";
}
.icon-ql:before {
  content: "\e956";
}
.icon-Quit:before {
  content: "\e957";
}
.icon-rabbit:before {
  content: "\e958";
}
.icon-radio:before {
  content: "\e959";
}
.icon-rectangular:before {
  content: "\e95a";
}
.icon-refrigerator:before {
  content: "\e95b";
}
.icon-repair:before {
  content: "\e95c";
}
.icon-reticule:before {
  content: "\e95d";
}
.icon-rudder:before {
  content: "\e95e";
}
.icon-sales:before {
  content: "\e95f";
}
.icon-savings:before {
  content: "\e960";
}
.icon-sd:before {
  content: "\e961";
}
.icon-seach:before {
  content: "\e962";
}
.icon-search:before {
  content: "\e963";
}
.icon-security:before {
  content: "\e964";
}
.icon-shoppingCart:before {
  content: "\e965";
}
.icon-shrink:before {
  content: "\e966";
}
.icon-sneaker:before {
  content: "\e967";
}
.icon-sofa:before {
  content: "\e968";
}
.icon-special:before {
  content: "\e969";
}
.icon-state:before {
  content: "\e96a";
}
.icon-steel:before {
  content: "\e96b";
}
.icon-Tccd:before {
  content: "\e96c";
}
.icon-trash:before {
  content: "\e96d";
}
.icon-trend:before {
  content: "\e96e";
}
.icon-trousers:before {
  content: "\e96f";
}
.icon-T-shirt:before {
  content: "\e970";
}
.icon-turnLeft:before {
  content: "\e971";
}
.icon-turnRight:before {
  content: "\e972";
}
.icon-tv:before {
  content: "\e973";
}
.icon-user:before {
  content: "\e974";
}
.icon-van:before {
  content: "\e975";
}
.icon-wallet:before {
  content: "\e976";
}
.icon-washing:before {
  content: "\e977";
}
.icon-Zhcx:before {
  content: "\e978";
}
